<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <link href= "clientside/styles.css" rel="stylesheet" type="text/css" />
    <script defer src="clientside/app.js"></script>
    <title>Epic To-Do List</title>
</head>
<body>
    <div class="container">
        <h1>All tasks</h1>

        <ul class="taskList">
        <% tasks.forEach(task => { %>
            <div class="taskContainer">
                <div class="textContainer">
                    <img class="categoryImage" src="../clientside/images/football.png">
                    <a href="tasks/<%= task.id%>" class="taskLink"><%= task.title %></a>
                </div>
                <div data-checkbox class="checkbox" id="<%= task.id %>"></div>
            </div>
        <% }) %>
        </ul>

        <a href="/tasks/new" class="newBtn">&#43;</a>
    </div>
</body>
</html>