html {
    font-size: 62.5%;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: whitesmoke;
    font-family: 'Noto Sans JP', sans-serif;
    
}

h1 {
    font-size: 5rem;
    font-weight: bold;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 3rem;  
    font-weight: lighter;
    margin-left: 2rem;
    float: left;
    background: red;
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categoryImage {
    height: 90%;
    width: 50px;
}

.categoryImage.crossed {
    opacity: 0.5;
}

.taskContainer {
    min-width: 70%;
    height: 70px;
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    border-radius: 2rem;
    box-shadow: 5px 5px 5px lightgray;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

.textContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem;
}

.taskLink {
    position: relative;
    font-size: 3rem;
    font-weight: lighter;
    margin-left: 2rem;
    color: black;
    text-decoration: none;
}

.taskLink::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    height: 3px;
    background: black;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 200ms ease-in-out;
}

.taskLink.crossed {
    opacity: 0.5;
}

.taskLink.crossed::after {
    transform: scaleX(1);
    transform-origin: right;
}

.checkbox {
    --size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    margin-right: 2rem;
    cursor: pointer;
    box-shadow: 0px 3px 10px lightgray;
    transition: transform 300ms ease-in-out;
}

.checkbox:hover {
    transform: scale(1.2);
}

.checkbox.checked {
    background-color: rgb(43, 121, 43);
    font-size: 3rem;
    font-weight: 1000;
    color: white;
}

.newBtn {
    display: flex;
    background-color: rgb(14, 137, 179);
    color: whitesmoke;
    font-size: 10rem;
    height: 7rem;
    width: 7rem;
    border-radius: 5rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 50;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header.title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header.modal-cancel {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none; 
    transition: 200ms ease-in-out;
    pointer-events: all;
}



